/*
 * Globals
 */


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Welcome
 */

.welcome {
  position: relative;
  background-image: url('../img/pen_unsplash.jpg');
  background-size: cover;
  min-height: 100%;}


.more {
  position: absolute; // required #1
  margin: 0 auto; // required #2
  left: 0;
  right: 0;
//  height: 50px;
  
  
  bottom: 0;
  padding: 20px 0;
  font-size: 3em;
  width: 50px;
  
/* My Work */

  


/*
 * Contact
 */
.contact {
  background-color: #d8d8d8;
  background-image: url('../img/hangar_unsplash.jpg');
  background-size: cover;
  min-height: 70%;
}

.email {
  font-size: 1.3em;
  padding: 20px;
  display: block;
  
}


/*
 * Footer
 */




